/* Global */
body {
    background-color: #111;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 1rem;
    text-align: left;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

/* Components */

/* Breadcrumbs */

.breadcrumbs {
    background-color: transparent;
    margin-bottom: 0;
    padding: 0;
}

.breadcrumbs__home {
    background-color: transparent;
    margin-bottom: 0;
    padding: 0;
}

